@media (max-width: 418px) {
  .container {
    max-width: var(--max-width);
    overflow: hidden;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  h2 {
    font-size: 27px;
    line-height: 35px;
  }

  h3 {
    font-size: 25px;
    line-height: 35px;
  }

  h4 {
    font-size: 23px;
    line-height: 33px;
  }

  h5 {
    font-size: 22px;
    line-height: 32px;
  }

  h6 {
    font-size: 20px;
    line-height: 30px;
  }

  .card-header {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-header h6 {
    font-size: 18px;
  }

  .card-border {
    padding: 5 1rem;
    margin-bottom: 1rem;
    border: 3px solid var(--medium-color);
    border-radius: 10px;
  }

  input[type="date"] {
    width: 100%;
  }

  /* css header mobile start */
  #Menumobile {
    display: block;
    position: relative;
    top: 15px;
  }

  .page-header {
    width: 100%;
    margin-left: 0;
    transition: 0.3s;
  }

  .nav-menu {
    display: none !important;
  }

  /* css header mobile end */

  /* css aside mobile start */
  .logo-toggle {
    display: none;
  }

  .icon-toggle-mobile {
    display: block;
  }

  .wrapper.collapse .aside {
    width: 0;
  }

  .wrapper.collapse .content,
  .wrapper.collapse .page-header,
  .wrapper.collapse .breadcrumb-wrapper {
    margin-left: 0;
    width: 100%;
  }

  .wrapper.open .aside {
    width: 285px;
  }

  .logo {
    display: none;
    transition: 0.3s;
    transition-property: display;
  }
  .wrapper.open .aside .logo {
    display: flex;
  }

  .aside-menu-header {
    width: 0;
  }

  .wrapper.open .aside {
    width: 285px;
  }

  /* css aside mobile end */

  /* css breadcrumb start */
  .breadcrumb-wrapper {
    margin: 0;
    top: 57px;
    width: 100%;
  }

  .breadcrumb {
    padding: 0 0.5rem;
  }

  .breadcrumb a {
    font-size: 9px;
  }

  .breadcrumb a + a::before {
    font-size: 6px;
    margin: 0 3px;
  }
  /* css breadcrumb end */

  /* css btn start */
  .btn {
    width: auto;
  }
  .btn-link {
    font-size: 12px;
  }

  .btn-submit,
  .btn-cancel {
    width: 250px;
  }
  /* css btn end */

  /* css form start */
  .form {
    display: flex;
    flex-direction: column;
  }
  /* css form end */

  /* css tabs start */
  .content-tabs {
    width: 100%;
    padding: 0;
  }

  .nav-pills {
    width: auto;
    flex-wrap: wrap;
  }

  .nav-item {
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-link {
    display: block;
    padding: 0.5rem;
  }

  .nav-pills .nav-link {
    height: 80px;
  }

  .tab-content {
    width: 100%;
    padding: 1rem 0;
    margin-top: 0;
  }

  /* css tabs end */

  /* css content mobile start */

  .content {
    margin-left: 0;
    margin-top: 120px;
    width: 100%;
    transition: 0.3s;
  }

  .dropdown-button {
    padding: 0.5rem;
  }

  .type-export {
    min-width: 130px;
    left: -59px;
  }

  .grid-custom-view {
    display: flex !important;
    flex-direction: column;
  }

  .grid-custom-view2 {
    display: flex !important;
    flex-direction: column;
  }

  .form-inputs {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form-inputs label {
    margin-bottom: 8px;
  }

  .filtering {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .detail-wrapper .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .detail-button button {
    width: 100%;
  }
  /* css content mobile end */

  /* css moda mobile start */
  .modal-dialog {
    max-width: 350px;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.75rem;
  }
  /* css modal mobile end */

  /* css page error start */
  .padding-error {
    padding: 1rem;
    min-height: 100vh;
  }

  .error-title {
    font-size: 7rem;
    line-height: 0.75;
    -webkit-text-stroke-width: 0.25rem;
    -webkit-text-stroke-color: var(--primary-color);
    color: transparent;
  }

  .display-text-info {
    font-size: 1.45rem;
    font-weight: 700;
  }

  .text-info-danger {
    font-weight: 700;
    font-size: 1.25rem;
  }

  .text-display-error {
    font-size: 1.1rem;
  }
  /* css page error end */

  /* css login page start */
  .login {
    width: 300px;
  }

  .box-login i {
    font-size: 15px;
    padding: 12px 10px;
  }

  .box-login input,
  .box-lock input {
    width: 100%;
    padding: 7px;
    font-size: 15px;
  }

  .box-lock h6 {
    margin: 0;
  }
  /* css login page end */

  .flex-change {
    flex-direction: column;
  }

  .form-img {
    height: auto;
    left: 0;
    transform: translate(0%, 0%);
  }

  .view-docs {
    justify-content: start;
  }

  .form-checking {
    grid-template-columns: 1fr 1fr;
  }

  .filtering-export {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .checkmark-left-45,
  .checkmark-left-43 {
    left: 33% !important;
  }

  .pd-30 {
    padding: 30px;
  }

  .chart-width-custom {
    width: 100%;
  }

  .filtering-jurusan select,
  .filtering-tahun-akademik select,
  .filtering-semester select {
    width: 100%;
  }

  .input-group {
    display: flex;
    flex-direction: column;
  }

  .input-group-area {
    width: 100%;
  }

  .wrapper-date {
    width: 100%;
  }

  .bg-image-close {
    background-position: center;
  }

  .center-position-text {
    position: absolute;
    left: 0;
    right: 0;
  }

  .message-left-side {
    width: 100%;
  }

  .message-list-panel {
    height: 30vh;
    overflow-y: auto;
  }

  .message-right-side {
    width: 100%;
  }

  .message-subject {
    padding: 1.5rem;
  }

  .btn-send-second {
    padding: 0.25rem;
    height: 34px;
    margin: 7px;
    font-size: 16px;
  }

  .message-send {
    display: flex;
  }

  .input-text {
    width: 100%;
    margin: 7px;
    border: 1px solid var(--medium-color);
  }

  #send > span {
    display: none;
  }

  .info-krs {
    grid-template-columns: 30% 70%;
  }

  .filter-monitor select {
    width: 100%;
  }

  .filter-kurikulum select,
  .filter-kurikulum input,
  .filter-mahasiswa select,
  .filter-mahasiswa input,
  .filter-kalender select,
  .filter-kalender input,
  .filter-jadual select,
  .filter-jadual input,
  .filter-monitor select,
  .filter-monitor input {
    width: 100%;
    margin-bottom: 10px;
  }

  .outstanding-textbox,
  .pembayaran-textbox,
  .realisasi-textbox {
    display: flex;
    gap: 7px;
    margin-bottom: 10px;
  }

  .textbox-primary,
  .textbox-warning,
  .textbox-danger {
    width: 100%;
  }

  .align-start {
    align-items: flex-start;
  }

  .info-finance {
    float: left;
  }

  .grid-3-rkk {
    display: grid;
    grid-template-columns: 42% 30% 28%;
  }

  .rkk-distancing {
    margin: 0;
  }

  .grid-custom-card,
  .grid-custom-row {
    display: flex;
    flex-direction: column;
  }

  .grid-button {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .grid-detail-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form-inline {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .form-inline .list-form-collection {
    width: 100%;
  }

  .flex-reverse {
    flex-direction: column-reverse;
  }
  .form-invoice-inline {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  /* css footer start */
  footer {
    padding-left: 0;
    background-color: var(--light-color);
  }
  /* css footer end */
}

@media (min-width: 419px) and (max-width: 768px) {
  .container {
    max-width: var(--max-width);
    overflow: hidden;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  h2 {
    font-size: 27px;
    line-height: 35px;
  }

  h3 {
    font-size: 25px;
    line-height: 35px;
  }

  h4 {
    font-size: 23px;
    line-height: 33px;
  }

  h5 {
    font-size: 22px;
    line-height: 32px;
  }

  h6 {
    font-size: 20px;
    line-height: 30px;
  }

  .card-header {
    padding: 0;
  }

  .card-border {
    padding: 5 1rem;
  }

  input[type="date"] {
    width: 100%;
  }

  /* css header mobile start */
  #Menumobile {
    display: block;
    position: relative;
    top: 15px;
  }

  .page-header {
    width: 100%;
    margin-left: 0;
    transition: 0.3s;
  }

  .nav-menu {
    display: none !important;
  }

  /* css header mobile end */

  /* css aside mobile start */
  .logo-toggle {
    display: none;
  }

  .icon-toggle-mobile {
    display: block;
  }

  .aside-menu-header {
    width: 0;
  }

  .wrapper.collapse .aside {
    width: 0;
  }

  .wrapper.collapse .content,
  .wrapper.collapse .page-header,
  .wrapper.collapse .breadcrumb-wrapper {
    margin-left: 0;
    width: 100%;
  }

  .wrapper.open .aside {
    width: 285px;
  }

  .logo {
    display: none;
    transition: 0.3s;
    transition-property: display;
  }
  .wrapper.open .aside .logo {
    display: flex;
  }
  /* css aside mobile end */

  /* css breadcrumb start */
  .breadcrumb-wrapper {
    margin: 0;
    top: 57px;
    width: 100%;
  }

  .breadcrumb {
    padding: 0 0.5rem;
  }

  .breadcrumb a {
    font-size: 9px;
  }

  .breadcrumb a + a::before {
    font-size: 6px;
    margin: 0 3px;
  }
  /* css breadcrumb end */

  /* css btn start */
  .btn {
    width: auto;
  }
  .btn-link {
    font-size: 13px;
  }

  .btn-submit,
  .btn-cancel {
    width: 250px;
  }

  .box-lock h6 {
    margin: 0;
  }
  /* css btn end */

  /* css form start */
  .form {
    display: flex;
    flex-direction: column;
  }
  /* css form end */

  /* css tabs start */
  .content-tabs {
    width: 100%;
    padding: 30px 0;
  }

  .nav-pills {
    width: auto;
    flex-wrap: wrap;
  }

  .nav-item {
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-link {
    display: block;
    padding: 0.5rem;
  }

  .nav-pills .nav-link {
    height: 80px;
  }

  .tab-content {
    width: 100%;
    padding: 1rem 0;
    margin-top: 0;
  }

  /* css tabs end */

  /* css content mobile start */

  .content {
    margin-left: 0;
    margin-top: 120px;
    width: 100%;
    transition: 0.3s;
  }

  .select-export {
    bottom: 0;
  }

  .dropdown-button {
    padding: 0.5rem;
  }

  .type-export {
    min-width: 130px;
    left: -59px;
  }

  .grid-custom-view {
    display: flex !important;
    flex-direction: column;
  }
  .grid-custom-view2 {
    display: flex !important;
    flex-direction: column;
  }
  .form-inputs {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form-inputs label {
    margin-bottom: 8px;
  }

  .filtering {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .detail-wrapper .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .detail-button button {
    width: 100%;
  }
  /* css content mobile end */
  /* css moda mobile start */
  .modal-dialog {
    max-width: 400px;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.75rem;
  }
  /* css modal mobile end */

  /* css page error start */
  .padding-error {
    padding: 2rem;
    min-height: 100vh;
  }
  .error-title {
    font-size: 10.7rem;
    line-height: 0.75;
    -webkit-text-stroke-width: 0.3rem;
    -webkit-text-stroke-color: var(--primary-color);
    color: transparent;
  }
  .display-text-info {
    font-size: 2.35rem;
    font-weight: 700;
  }
  /* css page error end */

  .flex-change {
    flex-direction: column;
  }

  .form-img {
    height: auto;
    left: 0;
    transform: translate(0%, 0%);
  }

  .view-docs {
    justify-content: start;
  }

  .form-checking {
    grid-template-columns: 1fr 1fr;
  }

  .filtering-export {
    margin-bottom: 8px;
    gap: 1rem;
  }

  .checkmark-left-45,
  .checkmark-left-43 {
    left: 33% !important;
  }

  .pd-30 {
    padding: 30px;
  }

  .chart-width-custom {
    width: 100%;
  }

  .filtering-jurusan select,
  .filtering-tahun-akademik select,
  .filtering-semester select {
    width: 100%;
  }

  .input-group {
    display: flex;
    flex-direction: column;
  }

  .input-group-area {
    width: 100%;
  }

  .wrapper-date {
    width: 100%;
  }

  .bg-image-close {
    background-position: center;
  }

  .center-position-text {
    position: absolute;
    left: 0;
    right: 0;
  }

  .message-left-side {
    width: 100%;
  }

  .message-left-side {
    width: 100%;
  }

  .message-list-panel {
    height: 30vh;
    overflow-y: auto;
  }

  .message-right-side {
    width: 100%;
  }

  .message-subject {
    padding: 1.5rem;
  }

  .btn-send-second {
    padding: 0.25rem;
    height: 34px;
    margin: 7px;
    font-size: 16px;
  }

  .message-send {
    display: flex;
  }

  .input-text {
    width: 100%;
    margin: 7px;
    border: 1px solid var(--medium-color);
  }
  #send > span {
    display: none;
  }
  .info-krs {
    grid-template-columns: 30% 70%;
  }

  .filter-kurikulum select,
  .filter-kurikulum input,
  .filter-mahasiswa select,
  .filter-mahasiswa input,
  .filter-kalender select,
  .filter-kalender input,
  .filter-jadual select,
  .filter-jadual input,
  .filter-monitor select,
  .filter-monitor input {
    width: 100%;
    margin-bottom: 10px;
  }

  .outstanding-textbox,
  .pembayaran-textbox,
  .realisasi-textbox {
    display: flex;
    gap: 7px;
    margin-bottom: 10px;
  }

  .textbox-primary,
  .textbox-warning,
  .textbox-danger {
    width: 100%;
  }

  .align-start {
    align-items: flex-start;
  }

  .info-finance {
    float: left;
  }

  .grid-3-rkk {
    display: grid;
    grid-template-columns: 42% 30% 28%;
  }

  .rkk-distancing {
    margin: 0;
  }

  .grid-custom-card,
  .grid-custom-row {
    display: flex;
    flex-direction: column;
  }

  .grid-button {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .grid-detail-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form-inline {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .form-inline .list-form-collection {
    width: 100%;
  }

  .flex-reverse {
    flex-direction: column-reverse;
  }
  .form-invoice-inline {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .flex-button {
    display: flex;
    height: 47px;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
    width: 100%;
  }

  /* css footer start */
  footer {
    padding-left: 0;
    background-color: var(--light-color);
  }
  /* css footer end */
}

@media (min-width: 769px) and (max-width: 950px) {
  .flex-change {
    flex-direction: column;
  }
  .chart-width-custom {
    width: 100%;
  }
  .filtering-jurusan select,
  .filtering-tahun-akademik select,
  .filtering-semester select,
  .filtering-jurusan,
  .filtering-tahun-akademik,
  .filtering-semester {
    width: 100%;
  }

  .message-left-side {
    width: 100%;
  }

  .message-list-panel {
    height: 30vh;
    overflow-y: auto;
  }

  .message-right-side {
    width: 100%;
  }

  .message-subject {
    padding: 1.5rem;
  }

  .btn-send-second {
    padding: 0.25rem;
    height: 34px;
    margin: 7px;
    font-size: 16px;
  }

  .message-send {
    display: flex;
  }

  .input-text {
    width: 100%;
    margin: 7px;
    border: 1px solid var(--medium-color);
  }
  #send > span {
    display: none;
  }
  .grid-custom-onecard {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-custom-card,
  .grid-custom-row {
    display: flex;
    flex-direction: column;
  }

  .grid-button {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .grid-detail-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form-inline {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .form-inline .list-form-collection {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .grid-2 {
    grid-template-columns: 1fr;
  }
  .grid-3 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-4 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-custom-view {
    display: flex !important;
    flex-direction: column;
  }
  .grid-custom-view2 {
    display: flex !important;
    flex-direction: column;
  }

  .detail-wrapper .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .padding-error {
    padding: 3.5rem;
    min-height: 100vh;
  }

  .error-title {
    font-size: 12.7rem;
    line-height: 0.75;
    -webkit-text-stroke-width: 0.35rem;
    -webkit-text-stroke-color: var(--primary-color);
    color: transparent;
  }

  .nav-pills {
    width: auto;
    flex-wrap: wrap;
  }

  .nav-pills .nav-link {
    height: 80px;
  }

  .tab-content {
    margin-top: 0;
  }

  .form-img {
    left: 0;
    transform: translate(0%, 0%);
  }

  .dd {
    float: left;
    width: 100%;
  }
  .dd + .dd {
    margin-left: 2%;
  }

  .grid-custom-card {
    grid-template-columns: 1fr;
  }

  .grid-custom-card-flip {
    grid-template-columns: 1fr;
  }

  .center-position-text {
    position: absolute;
    left: 35%;
    right: 0;
  }
  .grid-custom-onecard {
    display: grid;
    grid-template-columns: 1fr;
  }
  .form {
    display: flex;
    flex-direction: column;
  }

  .input-group > div {
    display: flex;
  }
  .form-mr-2 .form-inputs {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }

  .grid-button {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .outstanding-textbox label {
    font-size: 11px;
  }

  .pembayaran-textbox label {
    font-size: 11px;
  }

  .form-inline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media (min-width: 1025px) and (max-width: 1264px) {
  .grid-custom-view {
    display: grid;
    grid-template-columns: 24% 74%;
  }
  .grid-custom-view2 {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .nav-pills .nav-link {
    height: 133px;
  }

  .center-position-text {
    position: absolute;
    left: 35%;
    right: 0;
  }

  .form-mr-2 .form-inputs {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }

  .grid-button {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .form-img {
    left: 28%;
  }
  .grid-detail-list {
    display: grid;
    grid-template-columns: 28% 69%;
  }
}
